* {
  margin: 0;
  padding: 0; }

header {
  font-size: 50px;
  background: red;
  text-align: center; }

nav {
  font-size: 30px;
  width: 100%;
  text-align: center;
  background: orange; }
  nav a {
    border: 1px solid green;
    padding-left: 13.5%;
    padding-right: 13.5%;
    text-decoration: none;
    color: black; }
    nav a:hover {
      background: hotpink;
      color: indigo; }

footer {
  font-size: 25px;
  background: blue; }

form {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 15px;
  background: yellow; }

input {
  width: 49.6%; }

textarea {
  width: 100%;
  height: 20px; }

table {
  width: 100%;
  background: green; }

td {
  border: 1px solid black;
  text-align: center; }
